* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 576px) {
    .display-sm {
        display: none !important;
    }
    
    #navbarTarget {
        max-width: fit-content;
    }
}

@media screen and (max-width: 576px) {
    .no-display-sm {
        display: none !important;
    }
}

.navbar-nav {
    margin-left: 1em;
}

.nav-profile {
    display: flex;
    align-items: center;
    justify-content: left;
}

.search-results {
    position: absolute;
    top: 3.5em;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.5em;
    margin-left: 0.5em;
}

.profile-md img {
    margin-right: 0.5em;
}

a:hover {
    color: unset !important;
}

.footer {
    margin-top: 1em;
    margin-bottom: 2em;
}

.sidebar {
    position: sticky !important;
    position: -webkit-sticky;
    top: 5em !important;
    height: fit-content;
}

.group-list {
    list-style-type: none;
    font-size: smaller;
}

.group-list li {
    margin-bottom: 0.25em;
}

.group-list img {
    margin-right: 0.5em;
}

.profile-sm {
    color: #666;
    font-size: smaller;
}

.profile-sm img {
    width: 2em;
    margin-left: 0.4em;
}

.profile-md img {
    width: 2.5em;
}

h1 {
    padding: 1%
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

ol, ul {
    padding-left: 0.2rem !important;
}
