/**/


.container .cal {
  margin-top: 1em;
}

.day-titles {
  text-align: center;
  margin-bottom: 0.25em;
}

.cal h1 {
  text-align: center;
}

.cal button {
  background: none;
  border-style: none;
  padding: 0.5em;
}

.cal button:active {
  background: #eee;
}

.cal-cell {
  border: 0.5px solid;
  border-collapse: collapse;
  height: 8vh;
  padding: 0 0.3em !important;
}

.cal-cell.selected {
  font-weight: bold;
}

.cal-marker {
  width: 100%;
  height: 0.35em;
  margin-bottom: 0.125em;
}

@media screen and (min-width: 990px) {
  .day-feed.feed {
    margin-top: 6.5em;
  }
  .event {
      width: 70%;
  }
}

.day-feed .event {
  width: 100%;
}
