
.main-fg { color: rgb(92.06%, 83.56%, 83.14%); }
.main-bg { background-color: rgb(92.47%, 84.37%, 83.97%); }
.main-border { border-color: rgb(87.20%, 78.81%, 78.39%); }

.accent-fg { color: rgb(39.73%, 37.85%, 0.89%); }
.accent-bg { background-color: rgb(42.88%, 40.65%, 8.01%); }
.accent-border { border-color: rgb(37.67%, 35.97%, 0.00%); }

.main-tint-fg { color: rgb(94.66%, 86.53%, 86.12%); }
.main-tint-bg { background-color: rgb(94.94%, 87.19%, 86.80%); }
.main-tint-border { border-color: rgb(89.64%, 81.60%, 81.20%); }

.accent-tint-fg { color: rgb(52.32%, 49.44%, 17.31%); }
.accent-tint-bg { background-color: rgb(54.85%, 51.78%, 21.50%); }
.accent-tint-border { border-color: rgb(49.57%, 46.87%, 14.73%); }

.main-shade-fg { color: rgb(99.34%, 67.79%, 67.03%); }
.main-shade-bg { background-color: rgb(99.56%, 69.42%, 68.62%); }
.main-shade-border { border-color: rgb(94.78%, 63.62%, 62.92%); }

.accent-shade-fg { color: rgb(34.96%, 34.51%, 0.00%); }
.accent-shade-bg { background-color: rgb(38.34%, 37.44%, 0.00%); }
.accent-shade-border { border-color: rgb(33.20%, 32.84%, 0.00%); }

.main-tint2-fg { color: rgb(96.71%, 88.93%, 88.53%); }
.main-tint2-bg { background-color: rgb(96.88%, 89.48%, 89.10%); }
.main-tint2-border { border-color: rgb(91.54%, 83.86%, 83.47%); }

.accent-tint2-fg { color: rgb(62.57%, 59.09%, 28.46%); }
.accent-tint2-bg { background-color: rgb(64.59%, 61.02%, 31.96%); }
.accent-tint2-border { border-color: rgb(59.25%, 55.94%, 25.47%); }

.main-shade2-fg { color: rgb(100.00%, 53.21%, 53.74%); }
.main-shade2-bg { background-color: rgb(100.00%, 55.70%, 55.92%); }
.main-shade2-border { border-color: rgb(97.43%, 49.47%, 50.20%); }

.accent-shade2-fg { color: rgb(31.11%, 31.47%, 0.00%); }
.accent-shade2-bg { background-color: rgb(34.38%, 34.53%, 0.00%); }
.accent-shade2-border { border-color: rgb(29.67%, 29.97%, 0.00%); }


.text { color: rgb(10.14%, 1.93%, 1.31%); }
.text-gray { color: rgb(25.89%, 19.45%, 19.21%); }

