* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 575px) {
    .display-sm {
        display: none;
    }
    
    #navbarTarget {
        max-width: fit-content;
    }
}

@media screen and (max-width: 575px) {
    .no-display-sm {
        display: none;
    }
}

.navbar-nav {
    margin-left: 1em;
}

.sidebar {
    position: sticky !important;
    position: -webkit-sticky;
    top: 5em !important;
    height: fit-content;
}

.group-list {
    list-style-type: none;
    font-size: smaller;
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.event {
    border: 1px solid black;
    width: 100%;
    margin: 0 1em 1.5em 1em;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
}

@media screen and (min-width: 1000px) {
    .event {
        width: 70%;
    }
}

.event .header {
    background-color: black;
    color: white;
    padding: 0 1em;
}

.event .header .group-name {
    font-style: italic;
}

.event .info {
    margin: 0.25em 1em 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event .desc {
    margin: 0.5em 1em;
}

.event img {
    width: 80%;
    align-self: center;
}

.profile-sm {
    color: #666;
}

.profile-sm img {
    width: 2em;
    margin-left: 0.4em;
}