* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 575px) {
    .display-sm {
        display: none;
    }
    
    #navbarTarget {
        max-width: fit-content;
    }
}

@media screen and (max-width: 575px) {
    .no-display-sm {
        display: none;
    }
}

.navbar-nav {
    margin-left: 1em;
}

.nav-profile {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

a:hover {
    color: unset !important;
}

.footer {
    margin-top: 1em;
    margin-bottom: 2em;
}

.sidebar {
    position: sticky !important;
    position: -webkit-sticky;
    top: 5em !important;
    height: fit-content;
}

.group-list {
    list-style-type: none;
    font-size: smaller;
}

.group-list li {
    margin-bottom: 0.25em;
}

.profile-sm {
    color: #666;
    font-size: smaller;
}

.profile-sm img {
    width: 2em;
    margin-left: 0.4em;
}

h1 {
    padding: 1%
}